{% extends 'starter-page.html' %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
{% load static %}
{% block content %}

	<h1 class="text-center">All Bookings</h1>


    <div class="d-flex flex-wrap gap-5 container " >
    {% for x in all %}
 	<div class="card w-30 p-5 shadow-lg" style="background-color: bisque">
    <p class="fw-bold text-primary">{{ x.name}}</p>
    <p><strong>Email : </strong>  {{ x.email }}</p>
    <p><strong>Phone : </strong>  {{ x.phonenumber }}</p>
    <p><strong>Date and Time : </strong>  {{ x.datetime }}</p>

    <p><strong>Message : </strong>  {{ x.message }}</p>
    <p>
          <a href="/delete/{{ x.id }}" class="text-danger">
            <i class="bi bi-trash">Delete</i>
        </a>

          <a href="{% url 'edit' x.id %}" class="text-warning me-5">
            <i class="bi bi-pencil">Edit</i>
        </a>


    </p>



    </div>



 {% endfor %}

    </div>


{% endblock %}